@model Model.Account.ResetPasswordInternal
@{
    Layout = null;
}
<body style="margin: 0; padding: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
        <tr>
            <td align="center" style="background:#0e79bf; padding:20px 0;"><a href="http://www.iloop.com/" target="_blank">  <img src="cid:{0}" title="iLoop, Be In The Loop" alt="iLoop, Be In The Loop" /> </a> </td>
        </tr>
        <tr>
            <td style="background:#f5f5f5; padding:30px;">
                <table width="100%" border="0" cellspacing="5" cellpadding="5" style="background:#fff; color:#666; font-size:14px; line-height:24px;">
                    <tr>
                        <td style="font-size:24px; padding-top:10px; color:#0e79bf;">Dear @Model.FirstName,</td>
                    </tr>
                    <tr>
                        <td>Your iLoop password was reset using the email address @Model.Email on:</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="2" cellpadding="2" style="font-size:13px; color:#666;">
                                <tr>
                                    <td>Date and Time:</td>
                                    <td>@Model.Day, @Model.Date at @Model.Time</td>
                                </tr>
                                <tr>
                                    <td>Browser:</td>
                                    <td>@Model.Browser</td>
                                </tr>
                                <tr>
                                    <td>Mac Address:</td>
                                    <td>@Model.MacAddress</td>
                                </tr>
                                <tr>
                                    <td>IP Address:</td>
                                    <td>@Model.IpAddress</td>
                                </tr>
                                <tr>
                                    <td>Estimated Location:</td>
                                    <td>@Model.City, @Model.CountryCode</td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            If you did this, you can safely disregard this email.
                            <br />
                            If you didn't do this, please secure your account.
                        </td>
                    </tr>



                    <tr>
                        <td>For further support to sign in : <a href="http://www.iloop.com/sendmessage" style="color:#0e79bf; text-decoration:none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">http://www.iloop.com/sendmessage</a></td>
                    </tr>
                    <tr>
                        <td>
                            All the best,<br>
                            iLoop Team
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background:#0e79bf;color:#fff; padding:10px 10px; font-size:13px; text-align:center"><a href="http://www.iloop.com/" style="color:#fff;">Home</a> | <a href="http://www.iloop.com/" style="color:#fff;">About</a> | <a href="http://www.iloop.com/" style="color:#fff;">News &amp; Features</a> | <a href="http://www.iloop.com/" style="color:#fff;">Products</a> | <a href="http://www.iloop.com/" style="color:#fff;">Contact Us</a></td>
        </tr>
        <tr>
            <td style="background:#0e79bf;color:#fff; padding:10px 10px; font-size:13px; text-align:center">&copy; <a href="http://www.iloop.com/" style="text-decoration:none; color:#fff;">@DateTime.Now.Year iLoop Inc.</a> | All Rights Reserved | <a href="http://www.iloop.com/" style="color:#fff;">Privacy Policy</a> | <a href="http://www.iloop.com/" style="color:#fff;">Terms and Conditions</a></td>
        </tr>
    </table>
</body>